@import "sass/variables.scss";

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  margin-top: 0;

  > .score__player {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3s;

    > span {
      font-size: 20px;
      flex: 1;
      text-align: right;
      font-weight: bold;
      margin-left: 10px;
    }

    &.score__player--inactive {
      background: $score-inactive !important;
    }

    &.score__player--x {
      background: $x-color;
    }

    &.score__player--o {
      background: $o-color;
    }

    &.score__player--draw {
      background: $score-draw-bg;
      color: $score-draw-font;
      margin: 0 20px;
    }
  }
}
