@import "sass/variables.scss";

.btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 15px;
  text-decoration: none;
  transition: box-shadow 0.3s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 20px 5px -10px $btn-hover-shadow;
  }

  > span {
    margin-right: 10px;
  }

  &.action {
    color: $body-color;
    background: $primary-color;
  }

  &.link {
    text-decoration: underline;

    &:hover {
      font-weight: bold;
      box-shadow: none;
    }
  }

  &.huge {
    padding: 20px;
    font-size: 20px;
    color: $primary-color;
    background: $secondary-color;
  }
}
