@import "sass/breakpoints.scss";
@import "sass/variables.scss";

.board__button {
  border: 15px solid $board-border;
  flex: 1;
  margin: 15px;
  border-radius: 10px;
  background: $board-background;
  cursor: pointer;
  transition: box-shadow 0.3s;

  @include breakpoint(phone-wide) {
    margin: 5px;
    border-width: 7px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 15px 5px -4px $btn-hover-shadow;

    @include breakpoint(phone-wide) {
      box-shadow: none;
    }
  }

  > i {
    animation: PopUp 0.25s linear;
    font-size: 100px;

    @include breakpoint(phone-wide) {
      font-size: 60px;
    }
  }

  &.is-x {
    color: $x-color;
  }

  &.is-o {
    color: $o-color;
  }
}
