@import "sass/variables.scss";

.notfound {
  align-items: center;

  > img {
    width: 150px;
  }

  > h1 {
    color: $body-color;
    text-align: center;
  }

  > a {
    color: $body-color;
  }
}
