@import "sass/variables.scss";

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PopUp {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.modal__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: FadeIn 0.25s linear;

  .modal {
    display: flex;
    flex-direction: column;
    background: $body-color;
    border-radius: 5px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.3),
      0px 6px 21px -4px rgba(0, 0, 0, 0.16);
    position: relative;
    overflow: auto;
    outline: none;
    animation: PopUp 0.25s linear;
    max-width: 320px;

    > .header {
      display: flex;
      position: relative;
      background: $primary-color;
      height: 150px;

      > .header-info {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 10px;
        color: $body-color;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        > span {
          margin-top: 5px;
        }
      }

      > svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
      }

      > .close {
        margin: 5px;
        z-index: 2;
        position: absolute;
        right: 0;

        button {
          width: 35px;
          height: 35px;
          border: none;
          background: transparent;
          color: $body-color;
          outline: none;
        }
      }

      > .header-bottom {
        position: absolute;
        height: 74px;
        width: 100%;
        background: $primary-color;
        transform: skew(-3deg) rotate(-3deg);
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.18);
        top: 35px;
      }
    }

    > .content {
      padding: 0px 50px 30px 50px;
    }
  }
}
