@import "sass/breakpoints.scss";

.home {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;

  > img {
    max-width: 300px;
  }
}
