@import "sass/variables.scss";
@import "sass/breakpoints.scss";

html,
body,
#root,
#root > .App {
  height: 100%;
  margin: 0;
}

body {
  background: $body-bg-color;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

* {
  font-family: $body-font;
}

.App {
  display: flex;
  flex-direction: column;

  > .App-header {
    > a {
      text-decoration: none;

      > .App-title {
        text-align: center;
        color: $body-font-color;
        font-size: 50px;
        text-shadow: 0 7px 2px rgba(0, 0, 0, 1);
        font-family: $logo-font;
      }
    }
  }

  > .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    justify-content: center;
    overflow: auto;

    @include breakpoint(phone-wide) {
      flex-direction: column;
    }

    > div {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include breakpoint(phone-wide, min) {
        max-width: 600px;
        min-height: 600px;
      }

      @include breakpoint(desktop, min) {
        max-width: 800px;
        min-height: 600px;
      }
    }
  }
}

i {
  &.is-x {
    color: $x-color;
  }

  &.is-o {
    color: $o-color;
  }
}
